/*
**********************
HEADER
**********************
*/

#headerImage{
    background-image: url(imgs/OUR_ROV_background_up.jpg);

  /* Set a specific height */
    height: 25vh;

  /* Position and center the image to scale nicely on all screens */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 45%;
    position: relative;
}

/*
**********************
navbar
**********************
*/

header button#headerNavbarToggler{
    background-color: rgb(235, 235, 235);
    border: none;
    margin: 0 auto;
    display: block;
    font-size: 25px;
}

header button#headerNavbarToggler div{
    width: 35px;
    height: 4px;
    background-color: rgb(128, 128, 128);
    margin: 6px 0;
}

header nav a{
    color: #000000;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

header nav{
    background-color: rgba(235, 235, 235, 0.5);
}

#mobileNav{
    display: none;
}

#mobileNav.navShow{
    display: block;
}

#mainNav{
    display: none;
}

header nav a.active{
    color: #0000ff;
    background-color: rgb(223, 223, 223);
}

header nav a:hover{
    text-decoration: none;
    background-color: rgb(240, 248, 255);
}

@media screen and (min-width: 576px){
    header button#headerNavbarToggler{
        display: none;
    }

    #mobileNav.navShow{
        display: none;
    }

    #mainNav{
        display: flex;
    }

    header nav a{
        flex: 1 1 0;
    }
}

/*
**********************
HEADER END
**********************
*/

/*
**********************
FOOTER
**********************
*/
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1;
}

footer{
    background-color: rgb(240, 240, 240);
    border-radius: 1px;
    width: 100%;
    height: 70px;
    margin-top: 50px;
    text-align: center;
    /*background-image: url(imgs/phang_nga_bay.jpg);*/
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
**********************
FOOTER END
**********************
*/

/*
**********************
INDEX.HTML
**********************
*/

body.index p{
    width: 90%;
    margin: 0 auto;
}

body.index h1, body.index h2{
    text-align: center;
}

body.index ol{
    width: 90%;
    margin: 0 auto;
}




/*
**********************
INDEX.HTML END
**********************
*/


/*
**********************
BOATS.HTML
**********************
*/

main{
    margin-top: 10px;
}

body.boats main .carousel-inner img{
    width: 90vw;
    margin: 0 auto;
    display: block;
}

body.boats main a span.carousel-control-next-icon, body.boats main a span.carousel-control-prev-icon{
    color: rgb(255, 255, 255);
    background-image: none;
    font-size: 200%;
}

body.boats main div.carousel a{
    opacity: 1;
}

@media screen and (min-width: 576px){
    body.boats main .carousel-inner img{
        width: 40vw;
    }
    body.boats main a span.carousel-control-next-icon, body.boats main a span.carousel-control-prev-icon{
        color: rgb(128, 128, 128);
    }
}

body.boats main{
    text-align: center;
}

body.boats main h1{
    margin-top: 15px;
}



/*
**********************
BOATS.HTML END
**********************
*/

/*
**********************
BAYS.HTML
**********************
*/

body.bays main iframe{
    width: 90%;
    margin: 0 auto;
    display: block;
}

/*
**********************
BAYS.HTML END
**********************
*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
body.boats main a span.carousel-control-next-icon, body.boats main a span.carousel-control-prev-icon{
    color: white;
    font-size: 60px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}